In [32]:
import requests
from urllib.parse import quote
import pandas as pd
from bs4 import BeautifulSoup

In [33]:
# http://book.interpark.com/display/collectlist.do?_method=BestsellerHourNew201605&bestTp=1&dispNo=028
url = 'http://book.interpark.com/display/collectlist.do?_method=BestsellerHourNew201605&bestTp=1&dispNo=028'
res = requests.get(url)
soup = BeautifulSoup(res.text)

In [34]:
lis = soup.select('.rankBestContentList > ol > li')
len(lis)

15

In [49]:
li = lis[0]

- rank   
    - rankBtn_ctrl rkNum_B01 (1~9)
    - rankBtn_ctrl rkNum_M01 ,rankBtn_ctrl rkNum_M03    (10~15)

In [36]:
rank_temp = li.select_one('.rankNumber.digit2').find('span')
rank_temp

In [39]:
li1, li13 = lis[0],lis[12]
li1.select('.rankBtn_ctrl')

In [38]:
li13.select('.rankBtn_ctrl')

[<span class="rankBtn_ctrl rkNum_M01"></span>,
 <span class="rankBtn_ctrl rkNum_M03"></span>]

In [40]:
li1.select_one('.rankBtn_ctrl')['class']

['rankBtn_ctrl', 'rkNum_B01']

In [41]:
li13.select_one('.rankBtn_ctrl')['class']

['rankBtn_ctrl', 'rkNum_M01']

In [48]:
# rkNum_B01 1   [-1]
rank_data = li.select('.rankBtn_ctrl')
if len(rank_data) == 1:
    rank = int(rank_data[0]['class'][-1][-1])
else:
    rank = int(rank_data[0]['class'][-1][-1] + rank_data[1]['class'][-1][-1])
print(rank)

13

In [52]:
title = li.select_one('.itemName').get_text().strip()
title

'세이노의 가르침'

In [53]:
author = li.select_one('.author').get_text().strip()
author

'세이노'

In [54]:
company = li.select_one('.company').get_text().strip()
company

'데이원'

In [59]:
price = li.select_one('.price > em').get_text().strip()
price = int(price.replace(',',''))
price

6480

In [60]:
lines = []
for li in lis:
    rank_data = li.select('.rankBtn_ctrl')
    if len(rank_data) == 1:
        rank = int(rank_data[0]['class'][-1][-1])
    else:
        rank = int(rank_data[0]['class'][-1][-1] + rank_data[1]['class'][-1][-1])
    title = li.select_one('.itemName').get_text().strip() 
    author = li.select_one('.author').get_text().strip()
    company = li.select_one('.company').get_text().strip()
    price = li.select_one('.price > em').get_text().strip()
    lines.append({'순위':rank,'제목':title,'저자':author,'출판사':company,'가격':price})

In [61]:
df = pd.DataFrame(lines)
df.head()

,순위,제목,저자,출판사,가격
0,1,세이노의 가르침,세이노,데이원,"6,480"
1,2,이지성의 1만 킬로미터,이지성,차이정원,"16,200"
2,3,건강과 다이어트를 동시에 잡는 7대 3의 법칙 채소·과일식,조승우,바이북스,"17,100"
3,4,흔한남매 13,"흔한남매, 백난도/유난희 그림/흔한컴퍼니 감수",미래엔아이세움,"13,050"
4,4,고래,천명관,문학동네,"13,500"