### 2. 데이터 입출력

In [61]:
import numpy as np
import pandas as pd

- %%writefile 매직 명령어

In [62]:
%%writefile data/sample1.csv
c1,c2,c3
1, 1.11,one
2, 2.22,two
3, 3.33,three

Overwriting data/sample1.csv

- csv 파일 읽기

In [63]:
df = pd.read_csv('data/sample1.csv')
df

   c1    c2     c3
0   1  1.11    one
1   2  2.22    two
2   3  3.33  three

In [64]:
df.columns

Index(['c1', 'c2', 'c3'], dtype='object')

In [65]:
%%writefile data/sample2.csv
1, 1.11,one
2, 2.22,two
3, 3.33,three

Overwriting data/sample2.csv

In [66]:
df = pd.read_csv('data/sample2.csv',names=['c1','c2','c3'])
df

   c1    c2     c3
0   1  1.11    one
1   2  2.22    two
2   3  3.33  three

In [67]:
# index col 지정
pd.read_csv('data/sample.csv', index_col='c1')

FileNotFoundError: [Errno 2] No such file or directory: 'data/sample.csv'

In [ ]:
# tap 또는 여러개의 공백으로 구분된 파일
%%writefile data/sample3.tsv
c1  c2  c3  c4
0.179181 -1.538472  1.347553  0.43381
1.024209  0.087307 -1.281997  0.49265
0.417899 -2.002308  0.255245 -1.10515

Overwriting data/sample3.tsv

In [ ]:
df = pd.read_csv('data/sample3.tsv', sep='\s+')     # blank 여러개 또는 탭:\s(space)+
df

         c1        c2        c3       c4
0  0.179181 -1.538472  1.347553  0.43381
1  1.024209  0.087307 -1.281997  0.49265
2  0.417899 -2.002308  0.255245 -1.10515

- 여러줄의 header

In [ ]:
%%writefile data/sample4.csv
파일 제목: sampl4.txt
데이터 포맷의 설명:
c1,c2,c3
1, 1.11,one
2, 2.22,two
3, 3.33,three

Writing data/sample4.csv

In [ ]:
df = pd.read_csv('data/sample4.csv', skiprows=2)
df

   c1    c2     c3
0   1  1.11    one
1   2  2.22    two
2   3  3.33  three

- csv 파일 출력

In [ ]:
df.to_csv('data/sample6.csv', index=False)
df = pd.read_csv('data/smaple6.csv')
df

In [95]:
df = pd.read_csv("https://raw.githubusercontent.com/datascienceschool/docker_rpython/master/data/titanic.csv")

In [69]:
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [90]:
del df['Name'],df['Ticket']

In [91]:
df.to_csv('data/titanic.csv', index=False)

In [94]:
df = pd.read_csv('data/titanic.csv')
df.head()

,PassengerId,Survived,Pclass,Sex,Age,SibSp,Parch,Fare,Cabin,Embarked
0,1,0,3,male,22.0,1,0,7.2500,NaN,S
1,2,1,1,female,38.0,1,0,71.2833,C85,C
2,3,1,3,female,26.0,0,0,7.9250,NaN,S
3,4,1,1,female,35.0,1,0,53.1000,C123,S
4,5,0,3,male,35.0,0,0,8.0500,NaN,S

In [97]:
# 여러 컬럼을 삭제할 경우에는 drop method를 사용하기도 한다
df.drop(columns=['Name','Ticket'], inplace=True)
df.head()

,PassengerId,Survived,Pclass,Sex,Age,SibSp,Parch,Fare,Cabin,Embarked
0,1,0,3,male,22.0,1,0,7.2500,NaN,S
1,2,1,1,female,38.0,1,0,71.2833,C85,C
2,3,1,3,female,26.0,0,0,7.9250,NaN,S
3,4,1,1,female,35.0,1,0,53.1000,C123,S
4,5,0,3,male,35.0,0,0,8.0500,NaN,S