In [1]:
import numpy as np
import pandas as pd

In [2]:
filename = 'data/주민등록인구집계현황.csv'
df = pd.read_csv(filename, encoding='euc-kr',thousands=',')
df.head()

,연도,월,행정구역구분명,행정구역명,총 인구수,0~9세,10~19세,20~29세,30~39세,40~49세,...,10~19세 (여),20~29세 (여),30~39세 (여),40~49세 (여),50~59세 (여),60~69세 (여),70~79세 (여),80~89세 (여),90~99세 (여),100세 이상 (여)
0,2022,12,도,경기도,13589432,1040954,1327726,1737291,1882300,2284603,...,647283,821150,904073,1121889,1133428,878494,437251,252711,44184,1369
1,2022,12,시군,경기도 가평군,62197,2930,4463,5929,5397,7589,...,2186,2503,2433,3525,5090,6439,3653,2408,411,13
2,2022,12,읍면동,경기도 가평군 가평읍,19555,1020,1673,2094,1795,2630,...,778,937,848,1244,1583,1805,1054,739,126,6
3,2022,12,읍면동,경기도 가평군 북면,3815,108,174,230,223,357,...,93,87,99,154,290,511,294,216,39,1
4,2022,12,읍면동,경기도 가평군 상면,5669,140,259,482,389,533,...,112,151,166,240,515,737,389,244,39,0

In [3]:
df.isna().sum().sum()

0

In [4]:
df['인구소멸 위기지역'] = (df.iloc[:,31:33].sum(axis=1)/ df.iloc[:,11:16].sum(axis=1)).round(2)
df.head()

,연도,월,행정구역구분명,행정구역명,총 인구수,0~9세,10~19세,20~29세,30~39세,40~49세,...,20~29세 (여),30~39세 (여),40~49세 (여),50~59세 (여),60~69세 (여),70~79세 (여),80~89세 (여),90~99세 (여),100세 이상 (여),인구소멸 위기지역
0,2022,12,도,경기도,13589432,1040954,1327726,1737291,1882300,2284603,...,821150,904073,1121889,1133428,878494,437251,252711,44184,1369,0.57
1,2022,12,시군,경기도 가평군,62197,2930,4463,5929,5397,7589,...,2503,2433,3525,5090,6439,3653,2408,411,13,0.20
2,2022,12,읍면동,경기도 가평군 가평읍,19555,1020,1673,2094,1795,2630,...,937,848,1244,1583,1805,1054,739,126,6,0.26
3,2022,12,읍면동,경기도 가평군 북면,3815,108,174,230,223,357,...,87,99,154,290,511,294,216,39,1,0.09
4,2022,12,읍면동,경기도 가평군 상면,5669,140,259,482,389,533,...,151,166,240,515,737,389,244,39,0,0.11

In [7]:
df = df[['행정구역구분명','행정구역명','인구소멸 위기지역']]
df.head()

  행정구역구분명        행정구역명  인구소멸 위기지역
0       도        경기도         0.57
1      시군     경기도 가평군        0.20
2     읍면동  경기도 가평군 가평읍       0.26
3     읍면동   경기도 가평군 북면       0.09
4     읍면동   경기도 가평군 상면       0.11

In [17]:
# 수원시, 용인시등 구가 있는 시는 제거
gu_city = ['수원시', '고양시' ,'용인시', '성남시', '안산시', '안양시']
df.행정구역명 = df.행정구역명.str.strip()
drop_index = []
for index in df[df.행정구역구분명=='시군'].index:
    if df.행정구역명[index].split()[-1] in gu_city:
        drop_index.append(index)
drop_index

C:\Users\YONSAI\AppData\Local\Temp\ipykernel_1088\2168178803.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.행정구역명 = df.행정구역명.str.strip()

[8, 176, 231, 300, 344, 435]

In [18]:
df.drop(drop_index,inplace=True)
df.head()

C:\Users\YONSAI\AppData\Local\Temp\ipykernel_1088\3555787317.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.drop(drop_index,inplace=True)

  행정구역구분명        행정구역명  인구소멸 위기지역
0       도          경기도       0.57
1      시군      경기도 가평군       0.20
2     읍면동  경기도 가평군 가평읍       0.26
3     읍면동   경기도 가평군 북면       0.09
4     읍면동   경기도 가평군 상면       0.11

In [21]:
df = df[df.행정구역구분명.str.contains('시군|구')]
df.head()

   행정구역구분명         행정구역명  인구소멸 위기지역
1       시군       경기도 가평군       0.20
9        구   경기도 고양시 덕양구       0.56
31       구  경기도 고양시 일산동구       0.60
44       구  경기도 고양시 일산서구       0.56
56      시군       경기도 과천시       0.62

In [22]:
df.sort_values(by='인구소멸 위기지역').head(10)

    행정구역구분명        행정구역명  인구소멸 위기지역
1        시군      경기도 가평군       0.20
417      시군      경기도 연천군       0.20
391      시군      경기도 양평군       0.20
404      시군      경기도 여주시       0.27
558      시군      경기도 포천시       0.28
156      시군     경기도 동두천시       0.33
328      시군      경기도 안성시       0.38
464       구  경기도 용인시 처인구       0.48
363       구  경기도 안양시 만안구       0.48
218       구  경기도 성남시 중원구       0.50

In [23]:
df.sort_values(by='인구소멸 위기지역',ascending=False).head(10)

    행정구역구분명        행정구역명  인구소멸 위기지역
589      시군      경기도 화성시       0.87
428      시군      경기도 오산시       0.76
280      시군      경기도 시흥시       0.72
574      시군      경기도 하남시       0.67
452       구  경기도 용인시 수지구       0.66
177       구  경기도 성남시 분당구       0.66
532      시군      경기도 평택시       0.65
301       구  경기도 안산시 단원구       0.64
345       구  경기도 안양시 동안구       0.63
232       구  경기도 수원시 권선구       0.63