In [1]:
import numpy as np
import pandas as pd

In [2]:
# 데이터 파일 읽기
filename = 'data/서울시 자치구 년도별 CCTV 설치 현황_221231기준.csv'
colums = '구분,총계,2013년 이전 설치된 CCTV,2013년,2014년,2015년,2016년,2017년,2018년,2019년,2020년,2021년,2022년'.split(',')
cctv = pd.read_csv(filename, encoding='euc-kr',thousands=',')
cctv=cctv[colums]
cctv.head()

,구분,총계,2013년 이전 설치된 CCTV,2013년,2014년,2015년,2016년,2017년,2018년,2019년,2020년,2021년,2022년
0,계,91341,2804,3097,3981,6576,8850,11566,11024,13151,11912,9144,9236
1,종로구,1980,36,540,107,161,131,158,152,69,250,85,291
2,중 구,2584,130,87,77,236,240,372,386,155,361,403,137
3,용산구,2847,44,50,68,83,295,491,115,322,623,422,334
4,성동구,4047,58,99,110,366,279,945,459,647,485,367,232

In [3]:
# 결측치 확인
cctv.isna().sum().sum()

0

In [4]:
# Filtering
cctv.drop([cctv.index[0]],inplace=True)
cctv.head()

,구분,총계,2013년 이전 설치된 CCTV,2013년,2014년,2015년,2016년,2017년,2018년,2019년,2020년,2021년,2022년
1,종로구,1980,36,540,107,161,131,158,152,69,250,85,291
2,중 구,2584,130,87,77,236,240,372,386,155,361,403,137
3,용산구,2847,44,50,68,83,295,491,115,322,623,422,334
4,성동구,4047,58,99,110,366,279,945,459,647,485,367,232
5,광진구,3480,507,82,84,64,21,465,443,709,172,662,271

In [5]:
temp1 = cctv.iloc[:,10:13].sum(axis=1)
temp2 = cctv.iloc[:,2:10].sum(axis=1)
cctv['최근증가율'] = (temp1/temp2 * 100).round(2)
cctv.head()

,구분,총계,2013년 이전 설치된 CCTV,2013년,2014년,2015년,2016년,2017년,2018년,2019년,2020년,2021년,2022년,최근증가율
1,종로구,1980,36,540,107,161,131,158,152,69,250,85,291,46.23
2,중 구,2584,130,87,77,236,240,372,386,155,361,403,137,53.54
3,용산구,2847,44,50,68,83,295,491,115,322,623,422,334,93.94
4,성동구,4047,58,99,110,366,279,945,459,647,485,367,232,36.58
5,광진구,3480,507,82,84,64,21,465,443,709,172,662,271,46.53

In [6]:
# rename
cctv = cctv.rename(columns={'구분': '구별','총계': 'CCTV댓수'})
cctv.head()

,구별,CCTV댓수,2013년 이전 설치된 CCTV,2013년,2014년,2015년,2016년,2017년,2018년,2019년,2020년,2021년,2022년,최근증가율
1,종로구,1980,36,540,107,161,131,158,152,69,250,85,291,46.23
2,중 구,2584,130,87,77,236,240,372,386,155,361,403,137,53.54
3,용산구,2847,44,50,68,83,295,491,115,322,623,422,334,93.94
4,성동구,4047,58,99,110,366,279,945,459,647,485,367,232,36.58
5,광진구,3480,507,82,84,64,21,465,443,709,172,662,271,46.53

In [7]:
# select
cols = '구별 CCTV댓수 최근증가율'.split()
cctv = cctv[cols]
cctv.head()

    구별  CCTV댓수  최근증가율
1  종로구    1980  46.23
2  중 구    2584  53.54
3  용산구    2847  93.94
4  성동구    4047  36.58
5  광진구    3480  46.53

In [8]:
# 구 이름에서 공백 지우기
cctv.구별 = cctv.구별.str.replace(' ','')
cctv.head(3)

    구별  CCTV댓수  최근증가율
1  종로구    1980  46.23
2   중구    2584  53.54
3  용산구    2847  93.94

In [9]:
# 파일에 저장
cctv.to_csv('data/cctv.csv', index=False)
df = pd.read_csv('data/cctv.csv')
df.head()

    구별  CCTV댓수  최근증가율
0  종로구    1980  46.23
1   중구    2584  53.54
2  용산구    2847  93.94
3  성동구    4047  36.58
4  광진구    3480  46.53

In [10]:
df = pd.read_csv('data/서울시인구.txt',sep='\t', thousands=',', skiprows=2)
cols = '자치구 계 계.1 계.2  65세이상고령자'.split()
df = df[cols]
df = df.rename(columns={'자치구': '구별','계': '인구수','계.1': '내국인','계.2': '외국인','65세이상고령자': '고령자'})
df.drop([df.index[0]],inplace=True)
df['외국인비율'] = (df.외국인/df.인구수*100).round(2)
df['고령자비율'] = (df.고령자/df.인구수*100).round(2)
df.to_csv('data/pop.csv', index=False)

In [11]:
df3 = pd.merge(cctv,df)
df3.head()

    구별  CCTV댓수  최근증가율     인구수     내국인    외국인    고령자  외국인비율  고령자비율
0  종로구    1980  46.23  153789  144683   9106  27818   5.92  18.09
1   중구    2584  53.54  131787  122499   9288  24392   7.05  18.51
2  용산구    2847  93.94  237285  222953  14332  39070   6.04  16.47
3  성동구    4047  36.58  292672  285990   6682  46380   2.28  15.85
4  광진구    3480  46.53  352627  339996  12631  51723   3.58  14.67

In [13]:
df3.to_csv('data/cctv_pop.csv', index=False)