In [1]:
import kpop_dao as kd
import pandas as pd

In [3]:
df = pd.DataFrame(kd.get_song_list_by_debut(2009),columns=['name','debut','hitsong'])
df

   name       debut hitsong
0    카라  2009-07-30     미스터
1   다비치  2009-02-27    8282
2  2NE1  2009-07-08     기대해

In [8]:
rows = kd.get_song_list_by_debut(2007)
for row in rows:
    print(row)

('원더걸스', datetime.date(2007, 2, 10), 'Tell Me')
('소녀시대', datetime.date(2007, 8, 2), 'Gee')

In [5]:
df = pd.DataFrame(kd.get_girl_group_list(5),columns=['name','debut'])
df

       name       debut
0      원더걸스  2007-02-10
1      소녀시대  2007-08-02
2        카라  2009-07-30
3  브라운아이드걸스  2008-01-17
4       다비치  2009-02-27

In [7]:
df = pd.DataFrame(kd.get_song_list(5),columns=['title'])
df

         title
0      Tell Me
1          Gee
2          미스터
3  Abracadabra
4         8282

In [ ]:
params = ('Dumb Dumb', '너 땜에 하루종일')
kd.insert_song(params)

In [ ]:
params = ('포미닛', '2009-08-28', 121)
kd.insert_girl_group(params)