In [1]:
import requests,json,datetime
from urllib.parse import quote 
import pandas as pd
import numpy as np

In [2]:
with open('data/sub_rt_lo_key.txt') as f:
    rt_lo_key = f.read()

In [3]:
# http://swopenAPI.seoul.go.kr/api/subway/(인증키)/xml/realtimePosition/0/5/1호선
base_url = 'http://swopenAPI.seoul.go.kr/api/subway/'
params1 = f'{rt_lo_key}/json/realtimePosition/0/5/'
params2 = quote('1호선')
url = f'{base_url}{params1}{params2}'

In [4]:
response = requests.get(url)
res = json.loads(response.text)
res

{'errorMessage': {'status': 200,
  'code': 'INFO-000',
  'message': '정상 처리되었습니다.',
  'link': '',
  'developerMessage': '',
  'total': 73},
 'realtimePositionList': [{'beginRow': None,
   'endRow': None,
   'curPage': None,
   'pageRow': None,
   'totalCount': 73,
   'rowNum': 1,
   'selectedCount': 5,
   'subwayId': '1001',
   'subwayNm': '1호선',
   'statnId': '1001000129',
   'statnNm': '종로5가',
   'trainNo': '0816',
   'lastRecptnDt': '20230514',
   'recptnDt': '2023-05-14 21:05:57',
   'updnLine': '0',
   'statnTid': '1001000100',
   'statnTnm': '소요산',
   'trainSttus': '1',
   'directAt': '0',
   'lstcarAt': '0'},
  {'beginRow': None,
   'endRow': None,
   'curPage': None,
   'pageRow': None,
   'totalCount': 73,
   'rowNum': 2,
   'selectedCount': 5,
   'subwayId': '1001',
   'subwayNm': '1호선',
   'statnId': '1001000131',
   'statnNm': '종각',
   'trainNo': '0715',
   'lastRecptnDt': '20230514',
   'recptnDt': '2023-05-14 21:06:26',
   'updnLine': '1',
   'statnTid': '1001080176',
   'statnTnm': '신창',
   'trainSttus': '2',
   'directAt': '0',
   'lstcarAt': '0'},
  {'beginRow': None,
   'endRow': None,
   'curPage': None,
   'pageRow': None,
   'totalCount': 73,
   'rowNum': 3,
   'selectedCount': 5,
   'subwayId': '1001',
   'subwayNm': '1호선',
   'statnId': '1001000131',
   'statnNm': '종각',
   'trainNo': '0690',
   'lastRecptnDt': '20230514',
   'recptnDt': '2023-05-14 21:05:53',
   'updnLine': '0',
   'statnTid': '1001000119',
   'statnTnm': '광운대',
   'trainSttus': '1',
   'directAt': '0',
   'lstcarAt': '0'},
  {'beginRow': None,
   'endRow': None,
   'curPage': None,
   'pageRow': None,
   'totalCount': 73,
   'rowNum': 4,
   'selectedCount': 5,
   'subwayId': '1001',
   'subwayNm': '1호선',
   'statnId': '1001000133',
   'statnNm': '서울',
   'trainNo': '0817',
   'lastRecptnDt': '20230514',
   'recptnDt': '2023-05-14 21:06:05',
   'updnLine': '1',
   'statnTid': '1001000141',
   'statnTnm': '구로',
   'trainSttus': '0',
   'directAt': '0',
   'lstcarAt': '0'},
  {'beginRow': None,
   'endRow': None,
   'curPage': None,
   'pageRow': None,
   'totalCount': 73,
   'rowNum': 5,
   'selectedCount': 5,
   'subwayId': '1001',
   'subwayNm': '1호선',
   'statnId': '1001000134',
   'statnNm': '남영',
   'trainNo': '0484',
   'lastRecptnDt': '20230514',
   'recptnDt': '2023-05-14 21:05:50',
   'updnLine': '0',
   'statnTid': '1001000119',
   'statnTnm': '광운대',
   'trainSttus': '2',
   'directAt': '0',
   'lstcarAt': '0'}]}

In [5]:
res.keys()

dict_keys(['errorMessage', 'realtimePositionList'])

In [6]:
res['realtimePositionList']

[{'beginRow': None,
  'endRow': None,
  'curPage': None,
  'pageRow': None,
  'totalCount': 73,
  'rowNum': 1,
  'selectedCount': 5,
  'subwayId': '1001',
  'subwayNm': '1호선',
  'statnId': '1001000129',
  'statnNm': '종로5가',
  'trainNo': '0816',
  'lastRecptnDt': '20230514',
  'recptnDt': '2023-05-14 21:05:57',
  'updnLine': '0',
  'statnTid': '1001000100',
  'statnTnm': '소요산',
  'trainSttus': '1',
  'directAt': '0',
  'lstcarAt': '0'},
 {'beginRow': None,
  'endRow': None,
  'curPage': None,
  'pageRow': None,
  'totalCount': 73,
  'rowNum': 2,
  'selectedCount': 5,
  'subwayId': '1001',
  'subwayNm': '1호선',
  'statnId': '1001000131',
  'statnNm': '종각',
  'trainNo': '0715',
  'lastRecptnDt': '20230514',
  'recptnDt': '2023-05-14 21:06:26',
  'updnLine': '1',
  'statnTid': '1001080176',
  'statnTnm': '신창',
  'trainSttus': '2',
  'directAt': '0',
  'lstcarAt': '0'},
 {'beginRow': None,
  'endRow': None,
  'curPage': None,
  'pageRow': None,
  'totalCount': 73,
  'rowNum': 3,
  'selectedCount': 5,
  'subwayId': '1001',
  'subwayNm': '1호선',
  'statnId': '1001000131',
  'statnNm': '종각',
  'trainNo': '0690',
  'lastRecptnDt': '20230514',
  'recptnDt': '2023-05-14 21:05:53',
  'updnLine': '0',
  'statnTid': '1001000119',
  'statnTnm': '광운대',
  'trainSttus': '1',
  'directAt': '0',
  'lstcarAt': '0'},
 {'beginRow': None,
  'endRow': None,
  'curPage': None,
  'pageRow': None,
  'totalCount': 73,
  'rowNum': 4,
  'selectedCount': 5,
  'subwayId': '1001',
  'subwayNm': '1호선',
  'statnId': '1001000133',
  'statnNm': '서울',
  'trainNo': '0817',
  'lastRecptnDt': '20230514',
  'recptnDt': '2023-05-14 21:06:05',
  'updnLine': '1',
  'statnTid': '1001000141',
  'statnTnm': '구로',
  'trainSttus': '0',
  'directAt': '0',
  'lstcarAt': '0'},
 {'beginRow': None,
  'endRow': None,
  'curPage': None,
  'pageRow': None,
  'totalCount': 73,
  'rowNum': 5,
  'selectedCount': 5,
  'subwayId': '1001',
  'subwayNm': '1호선',
  'statnId': '1001000134',
  'statnNm': '남영',
  'trainNo': '0484',
  'lastRecptnDt': '20230514',
  'recptnDt': '2023-05-14 21:05:50',
  'updnLine': '0',
  'statnTid': '1001000119',
  'statnTnm': '광운대',
  'trainSttus': '2',
  'directAt': '0',
  'lstcarAt': '0'}]

In [7]:
df = pd.DataFrame(res['realtimePositionList'])
df.head()

,beginRow,endRow,curPage,pageRow,totalCount,rowNum,selectedCount,subwayId,subwayNm,statnId,statnNm,trainNo,lastRecptnDt,recptnDt,updnLine,statnTid,statnTnm,trainSttus,directAt,lstcarAt
0,None,None,None,None,73,1,5,1001,1호선,1001000129,종로5가,0816,20230514,2023-05-14 21:05:57,0,1001000100,소요산,1,0,0
1,None,None,None,None,73,2,5,1001,1호선,1001000131,종각,0715,20230514,2023-05-14 21:06:26,1,1001080176,신창,2,0,0
2,None,None,None,None,73,3,5,1001,1호선,1001000131,종각,0690,20230514,2023-05-14 21:05:53,0,1001000119,광운대,1,0,0
3,None,None,None,None,73,4,5,1001,1호선,1001000133,서울,0817,20230514,2023-05-14 21:06:05,1,1001000141,구로,0,0,0
4,None,None,None,None,73,5,5,1001,1호선,1001000134,남영,0484,20230514,2023-05-14 21:05:50,0,1001000119,광운대,2,0,0

In [8]:
df2 = df.loc[:,'subwayId':'statnTnm'].copy()
df2.head()

,subwayId,subwayNm,statnId,statnNm,trainNo,lastRecptnDt,recptnDt,updnLine,statnTid,statnTnm
0,1001,1호선,1001000129,종로5가,0816,20230514,2023-05-14 21:05:57,0,1001000100,소요산
1,1001,1호선,1001000131,종각,0715,20230514,2023-05-14 21:06:26,1,1001080176,신창
2,1001,1호선,1001000131,종각,0690,20230514,2023-05-14 21:05:53,0,1001000119,광운대
3,1001,1호선,1001000133,서울,0817,20230514,2023-05-14 21:06:05,1,1001000141,구로
4,1001,1호선,1001000134,남영,0484,20230514,2023-05-14 21:05:50,0,1001000119,광운대

In [9]:
df2.isna().sum()

subwayId        0
subwayNm        0
statnId         0
statnNm         0
trainNo         0
lastRecptnDt    0
recptnDt        0
updnLine        0
statnTid        0
statnTnm        0
dtype: int64

In [10]:
df2.to_csv('data/temp.cvs',index=False)