In [50]:
import requests,json,datetime
from urllib.parse import quote 
import pandas as pd
import numpy as np

In [51]:
with open('data/sub_rt_lo_key.txt') as f:
    rt_lo_key = f.read()

In [52]:
# http://swopenAPI.seoul.go.kr/api/subway/(인증키)/xml/realtimePosition/0/5/1호선
base_url = 'http://swopenAPI.seoul.go.kr/api/subway/'
params1 = f'{rt_lo_key}/json/realtimePosition/0/5/'
params2 = quote('1호선')
url = f'{base_url}{params1}{params2}'

In [53]:
response = requests.get(url)
res = json.loads(response.text)
res

{'errorMessage': {'status': 200,
  'code': 'INFO-000',
  'message': '정상 처리되었습니다.',
  'link': '',
  'developerMessage': '',
  'total': 78},
 'realtimePositionList': [{'beginRow': None,
   'endRow': None,
   'curPage': None,
   'pageRow': None,
   'totalCount': 78,
   'rowNum': 1,
   'selectedCount': 5,
   'subwayId': '1001',
   'subwayNm': '1호선',
   'statnId': '1001000126',
   'statnNm': '신설동',
   'trainNo': '0816',
   'lastRecptnDt': '20230513',
   'recptnDt': '2023-05-13 21:03:58',
   'updnLine': '0',
   'statnTid': '1001000100',
   'statnTnm': '소요산',
   'trainSttus': '1',
   'directAt': '0',
   'lstcarAt': '0'},
  {'beginRow': None,
   'endRow': None,
   'curPage': None,
   'pageRow': None,
   'totalCount': 78,
   'rowNum': 2,
   'selectedCount': 5,
   'subwayId': '1001',
   'subwayNm': '1호선',
   'statnId': '1001000131',
   'statnNm': '종각',
   'trainNo': '0715',
   'lastRecptnDt': '20230513',
   'recptnDt': '2023-05-13 21:04:05',
   'updnLine': '1',
   'statnTid': '1001080176',
   'statnTnm': '신창',
   'trainSttus': '1',
   'directAt': '0',
   'lstcarAt': '0'},
  {'beginRow': None,
   'endRow': None,
   'curPage': None,
   'pageRow': None,
   'totalCount': 78,
   'rowNum': 3,
   'selectedCount': 5,
   'subwayId': '1001',
   'subwayNm': '1호선',
   'statnId': '1001000130',
   'statnNm': '종로3가',
   'trainNo': '0690',
   'lastRecptnDt': '20230513',
   'recptnDt': '2023-05-13 21:03:40',
   'updnLine': '0',
   'statnTid': '1001000119',
   'statnTnm': '광운대',
   'trainSttus': '1',
   'directAt': '0',
   'lstcarAt': '0'},
  {'beginRow': None,
   'endRow': None,
   'curPage': None,
   'pageRow': None,
   'totalCount': 78,
   'rowNum': 4,
   'selectedCount': 5,
   'subwayId': '1001',
   'subwayNm': '1호선',
   'statnId': '1001000135',
   'statnNm': '용산',
   'trainNo': '0692',
   'lastRecptnDt': '20230513',
   'recptnDt': '2023-05-13 21:03:52',
   'updnLine': '0',
   'statnTid': '1001000119',
   'statnTnm': '광운대',
   'trainSttus': '1',
   'directAt': '0',
   'lstcarAt': '0'},
  {'beginRow': None,
   'endRow': None,
   'curPage': None,
   'pageRow': None,
   'totalCount': 78,
   'rowNum': 5,
   'selectedCount': 5,
   'subwayId': '1001',
   'subwayNm': '1호선',
   'statnId': '1001000133',
   'statnNm': '서울',
   'trainNo': '0817',
   'lastRecptnDt': '20230513',
   'recptnDt': '2023-05-13 21:03:31',
   'updnLine': '1',
   'statnTid': '1001000141',
   'statnTnm': '구로',
   'trainSttus': '0',
   'directAt': '0',
   'lstcarAt': '0'}]}

In [54]:
res.keys()

dict_keys(['errorMessage', 'realtimePositionList'])

In [55]:
res['realtimePositionList']

[{'beginRow': None,
  'endRow': None,
  'curPage': None,
  'pageRow': None,
  'totalCount': 78,
  'rowNum': 1,
  'selectedCount': 5,
  'subwayId': '1001',
  'subwayNm': '1호선',
  'statnId': '1001000126',
  'statnNm': '신설동',
  'trainNo': '0816',
  'lastRecptnDt': '20230513',
  'recptnDt': '2023-05-13 21:03:58',
  'updnLine': '0',
  'statnTid': '1001000100',
  'statnTnm': '소요산',
  'trainSttus': '1',
  'directAt': '0',
  'lstcarAt': '0'},
 {'beginRow': None,
  'endRow': None,
  'curPage': None,
  'pageRow': None,
  'totalCount': 78,
  'rowNum': 2,
  'selectedCount': 5,
  'subwayId': '1001',
  'subwayNm': '1호선',
  'statnId': '1001000131',
  'statnNm': '종각',
  'trainNo': '0715',
  'lastRecptnDt': '20230513',
  'recptnDt': '2023-05-13 21:04:05',
  'updnLine': '1',
  'statnTid': '1001080176',
  'statnTnm': '신창',
  'trainSttus': '1',
  'directAt': '0',
  'lstcarAt': '0'},
 {'beginRow': None,
  'endRow': None,
  'curPage': None,
  'pageRow': None,
  'totalCount': 78,
  'rowNum': 3,
  'selectedCount': 5,
  'subwayId': '1001',
  'subwayNm': '1호선',
  'statnId': '1001000130',
  'statnNm': '종로3가',
  'trainNo': '0690',
  'lastRecptnDt': '20230513',
  'recptnDt': '2023-05-13 21:03:40',
  'updnLine': '0',
  'statnTid': '1001000119',
  'statnTnm': '광운대',
  'trainSttus': '1',
  'directAt': '0',
  'lstcarAt': '0'},
 {'beginRow': None,
  'endRow': None,
  'curPage': None,
  'pageRow': None,
  'totalCount': 78,
  'rowNum': 4,
  'selectedCount': 5,
  'subwayId': '1001',
  'subwayNm': '1호선',
  'statnId': '1001000135',
  'statnNm': '용산',
  'trainNo': '0692',
  'lastRecptnDt': '20230513',
  'recptnDt': '2023-05-13 21:03:52',
  'updnLine': '0',
  'statnTid': '1001000119',
  'statnTnm': '광운대',
  'trainSttus': '1',
  'directAt': '0',
  'lstcarAt': '0'},
 {'beginRow': None,
  'endRow': None,
  'curPage': None,
  'pageRow': None,
  'totalCount': 78,
  'rowNum': 5,
  'selectedCount': 5,
  'subwayId': '1001',
  'subwayNm': '1호선',
  'statnId': '1001000133',
  'statnNm': '서울',
  'trainNo': '0817',
  'lastRecptnDt': '20230513',
  'recptnDt': '2023-05-13 21:03:31',
  'updnLine': '1',
  'statnTid': '1001000141',
  'statnTnm': '구로',
  'trainSttus': '0',
  'directAt': '0',
  'lstcarAt': '0'}]

In [56]:
df = pd.DataFrame(res['realtimePositionList'])
df.head()

,beginRow,endRow,curPage,pageRow,totalCount,rowNum,selectedCount,subwayId,subwayNm,statnId,statnNm,trainNo,lastRecptnDt,recptnDt,updnLine,statnTid,statnTnm,trainSttus,directAt,lstcarAt
0,None,None,None,None,78,1,5,1001,1호선,1001000126,신설동,0816,20230513,2023-05-13 21:03:58,0,1001000100,소요산,1,0,0
1,None,None,None,None,78,2,5,1001,1호선,1001000131,종각,0715,20230513,2023-05-13 21:04:05,1,1001080176,신창,1,0,0
2,None,None,None,None,78,3,5,1001,1호선,1001000130,종로3가,0690,20230513,2023-05-13 21:03:40,0,1001000119,광운대,1,0,0
3,None,None,None,None,78,4,5,1001,1호선,1001000135,용산,0692,20230513,2023-05-13 21:03:52,0,1001000119,광운대,1,0,0
4,None,None,None,None,78,5,5,1001,1호선,1001000133,서울,0817,20230513,2023-05-13 21:03:31,1,1001000141,구로,0,0,0

In [57]:
df2 = df.loc[:,'subwayId':'statnTnm'].copy()
df2.head()

,subwayId,subwayNm,statnId,statnNm,trainNo,lastRecptnDt,recptnDt,updnLine,statnTid,statnTnm
0,1001,1호선,1001000126,신설동,0816,20230513,2023-05-13 21:03:58,0,1001000100,소요산
1,1001,1호선,1001000131,종각,0715,20230513,2023-05-13 21:04:05,1,1001080176,신창
2,1001,1호선,1001000130,종로3가,0690,20230513,2023-05-13 21:03:40,0,1001000119,광운대
3,1001,1호선,1001000135,용산,0692,20230513,2023-05-13 21:03:52,0,1001000119,광운대
4,1001,1호선,1001000133,서울,0817,20230513,2023-05-13 21:03:31,1,1001000141,구로

In [58]:
df2.to_csv('data/temp.cvs',index=False)