In [112]:
import requests,json,datetime
from urllib.parse import quote 
import pandas as pd
import numpy as np

In [113]:
with open('data/sub_arr_info_key.txt') as f:
    info_key = f.read()

In [114]:
len(info_key)

30

In [115]:
# now = datetime.datetime.now()
# date = now.strftime('%Y%m%d')
# date

In [116]:
# url = "http://openapi.seoul.go.kr:8088/인증키/json/realtimeStationArrival/0/5/20220301(yyyymmdd)"

In [117]:
base_url = "http://swopenAPI.seoul.go.kr/api/subway/"
params1 = f"{info_key}/json/realtimeStationArrival/0/8/"
# params2 = f"{date}"
params2 = quote('병점')
url = f"{base_url}{params1}{params2}"
response = requests.get(url)
print(response.content)

b'{"errorMessage":{"status":200,"code":"INFO-000","message":"\xec\xa0\x95\xec\x83\x81 \xec\xb2\x98\xeb\xa6\xac\xeb\x90\x98\xec\x97\x88\xec\x8a\xb5\xeb\x8b\x88\xeb\x8b\xa4.","link":"","developerMessage":"","total":7},"realtimeArrivalList":[{"beginRow":null,"endRow":null,"curPage":null,"pageRow":null,"totalCount":7,"rowNum":1,"selectedCount":7,"subwayId":"1001","subwayNm":null,"updnLine":"\xec\x83\x81\xed\x96\x89","trainLineNm":"\xea\xb4\x91\xec\x9a\xb4\xeb\x8c\x80\xed\x96\x89 - \xec\x84\xb8\xeb\xa5\x98\xeb\xb0\xa9\xeb\xa9\xb4","subwayHeading":null,"statnFid":"1001080158","statnTid":"1001080156","statnId":"1001080157","statnNm":"\xeb\xb3\x91\xec\xa0\x90","trainCo":null,"ordkey":"01000\xea\xb4\x91\xec\x9a\xb4\xeb\x8c\x800","subwayList":"1001","statnList":"1001080157","btrainSttus":null,"barvlDt":"0","btrainNo":"0476","bstatnId":"171","bstatnNm":"\xea\xb4\x91\xec\x9a\xb4\xeb\x8c\x80","recptnDt":"2023-05-16 17:12:45","arvlMsg2":"\xeb\xb3\x91\xec\xa0\x90 \xeb\x8f\x84\xec\xb0\xa9","arvlMsg3":"\xeb\xb3\x91\xec\xa0\x90","arvlCd":"1"},{"beginRow":null,"endRow":null,"curPage":null,"pageRow":null,"totalCount":7,"rowNum":2,"selectedCount":7,"subwayId":"1001","subwayNm":null,"updnLine":"\xec\x83\x81\xed\x96\x89","trainLineNm":"\xec\xb2\xad\xeb\x9f\x89\xeb\xa6\xac\xed\x96\x89 - \xec\x84\xb8\xeb\xa5\x98\xeb\xb0\xa9\xeb\xa9\xb4 (\xea\xb8\x89\xed\x96\x89)","subwayHeading":null,"statnFid":"1001080158","statnTid":"1001080156","statnId":"1001080157","statnNm":"\xeb\xb3\x91\xec\xa0\x90","trainCo":null,"ordkey":"01008\xec\xb2\xad\xeb\x9f\x89\xeb\xa6\xac1","subwayList":"1001","statnList":"1001080157","btrainSttus":"\xea\xb8\x89\xed\x96\x89","barvlDt":"0","btrainNo":"1940","bstatnId":"249","bstatnNm":"\xec\xb2\xad\xeb\x9f\x89\xeb\xa6\xac (\xea\xb8\x89\xed\x96\x89)","recptnDt":"2023-05-16 17:12:39","arvlMsg2":"[8]\xeb\xb2\x88\xec\xa7\xb8 \xec\xa0\x84\xec\x97\xad (\xed\x8f\x89\xed\x83\x9d)","arvlMsg3":"\xed\x8f\x89\xed\x83\x9d","arvlCd":"99"},{"beginRow":null,"endRow":null,"curPage":null,"pageRow":null,"totalCount":7,"rowNum":3,"selectedCount":7,"subwayId":"1001","subwayNm":null,"updnLine":"\xec\x83\x81\xed\x96\x89","trainLineNm":"\xea\xb4\x91\xec\x9a\xb4\xeb\x8c\x80\xed\x96\x89 - \xec\x84\xb8\xeb\xa5\x98\xeb\xb0\xa9\xeb\xa9\xb4","subwayHeading":null,"statnFid":"1001080158","statnTid":"1001080156","statnId":"1001080157","statnNm":"\xeb\xb3\x91\xec\xa0\x90","trainCo":null,"ordkey":"02005\xea\xb4\x91\xec\x9a\xb4\xeb\x8c\x800","subwayList":"1001","statnList":"1001080157","btrainSttus":null,"barvlDt":"0","btrainNo":"0672","bstatnId":"171","bstatnNm":"\xea\xb4\x91\xec\x9a\xb4\xeb\x8c\x80","recptnDt":"2023-05-16 17:12:45","arvlMsg2":"[5]\xeb\xb2\x88\xec\xa7\xb8 \xec\xa0\x84\xec\x97\xad (\xec\x86\xa1\xed\x83\x84)","arvlMsg3":"\xec\x86\xa1\xed\x83\x84","arvlCd":"99"},{"beginRow":null,"endRow":null,"curPage":null,"pageRow":null,"totalCount":7,"rowNum":4,"selectedCount":7,"subwayId":"1001","subwayNm":null,"updnLine":"\xed\x95\x98\xed\x96\x89","trainLineNm":"\xec\x84\x9c\xeb\x8f\x99\xed\x83\x84\xed\x96\x89 - \xec\x84\xb8\xeb\xa7\x88\xeb\xb0\xa9\xeb\xa9\xb4","subwayHeading":null,"statnFid":"1001080156","statnTid":"1001080158","statnId":"1001080157","statnNm":"\xeb\xb3\x91\xec\xa0\x90","trainCo":null,"ordkey":"11001\xec\x84\x9c\xeb\x8f\x99\xed\x83\x840","subwayList":"1001","statnList":"1001080157","btrainSttus":null,"barvlDt":"0","btrainNo":"0469","bstatnId":"67","bstatnNm":"\xec\x84\x9c\xeb\x8f\x99\xed\x83\x84","recptnDt":"2023-05-16 17:13:32","arvlMsg2":"\xec\xa0\x84\xec\x97\xad \xeb\x8f\x84\xec\xb0\xa9","arvlMsg3":"\xec\x84\xb8\xeb\xa5\x98","arvlCd":"5"},{"beginRow":null,"endRow":null,"curPage":null,"pageRow":null,"totalCount":7,"rowNum":5,"selectedCount":7,"subwayId":"1001","subwayNm":null,"updnLine":"\xed\x95\x98\xed\x96\x89","trainLineNm":"\xec\xb2\x9c\xec\x95\x88\xed\x96\x89 - \xec\x84\xb8\xeb\xa7\x88\xeb\xb0\xa9\xeb\xa9\xb4 (\xea\xb8\x89\xed\x96\x89)","subwayHeading":null,"statnFid":"1001080156","statnTid":"1001080158","statnId":"1001080157","statnNm":"\xeb\xb3\x91\xec\xa0\x90","trainCo":null,"ordkey":"11002\xec\xb2\x9c\xec\x95\x881","subwayList":"1001","statnList":"1001080157","btrainSttus":"\xea\xb8\x89\xed\x96\x89","barvlDt":"0","btrainNo":"1937","bstatnId":"65","bstatnNm":"\xec\xb2\x9c\xec\x95\x88 (\xea\xb8\x89\xed\x96\x89)","recptnDt":"2023-05-16 17:15:31","arvlMsg2":"[2]\xeb\xb2\x88\xec\xa7\xb8 \xec\xa0\x84\xec\x97\xad (\xec\x88\x98\xec\x9b\x90)","arvlMsg3":"\xec\x88\x98\xec\x9b\x90","arvlCd":"99"},{"beginRow":null,"endRow":null,"curPage":null,"pageRow":null,"totalCount":7,"rowNum":6,"selectedCount":7,"subwayId":"1001","subwayNm":null,"updnLine":"\xed\x95\x98\xed\x96\x89","trainLineNm":"\xec\xb2\x9c\xec\x95\x88\xed\x96\x89 - \xec\x84\xb8\xeb\xa7\x88\xeb\xb0\xa9\xeb\xa9\xb4","subwayHeading":null,"statnFid":"1001080156","statnTid":"1001080158","statnId":"1001080157","statnNm":"\xeb\xb3\x91\xec\xa0\x90","trainCo":null,"ordkey":"12004\xec\xb2\x9c\xec\x95\x880","subwayList":"1001","statnList":"1001080157","btrainSttus":null,"barvlDt":"0","btrainNo":"0669","bstatnId":"67","bstatnNm":"\xec\xb2\x9c\xec\x95\x88","recptnDt":"2023-05-16 17:13:32","arvlMsg2":"[4]\xeb\xb2\x88\xec\xa7\xb8 \xec\xa0\x84\xec\x97\xad (\xec\x84\xb1\xea\xb7\xa0\xea\xb4\x80\xeb\x8c\x80)","arvlMsg3":"\xec\x84\xb1\xea\xb7\xa0\xea\xb4\x80\xeb\x8c\x80","arvlCd":"99"},{"beginRow":null,"endRow":null,"curPage":null,"pageRow":null,"totalCount":7,"rowNum":7,"selectedCount":7,"subwayId":"1001","subwayNm":null,"updnLine":"\xed\x95\x98\xed\x96\x89","trainLineNm":"\xec\x8b\xa0\xec\xb0\xbd\xed\x96\x89 - \xec\x84\xb8\xeb\xa7\x88\xeb\xb0\xa9\xeb\xa9\xb4 (\xea\xb8\x89\xed\x96\x89)","subwayHeading":null,"statnFid":"1001080156","statnTid":"1001080158","statnId":"1001080157","statnNm":"\xeb\xb3\x91\xec\xa0\x90","trainCo":null,"ordkey":"12015\xec\x8b\xa0\xec\xb0\xbd1","subwayList":"1001","statnList":"1001080157","btrainSttus":"\xea\xb8\x89\xed\x96\x89","barvlDt":"0","btrainNo":"1939","bstatnId":"65","bstatnNm":"\xec\x8b\xa0\xec\xb0\xbd (\xea\xb8\x89\xed\x96\x89)","recptnDt":"2023-05-16 17:15:31","arvlMsg2":"[15]\xeb\xb2\x88\xec\xa7\xb8 \xec\xa0\x84\xec\x97\xad (\xea\xb0\x80\xec\x82\xb0\xeb\x94\x94\xec\xa7\x80\xed\x84\xb8\xeb\x8b\xa8\xec\xa7\x80)","arvlMsg3":"\xea\xb0\x80\xec\x82\xb0\xeb\x94\x94\xec\xa7\x80\xed\x84\xb8\xeb\x8b\xa8\xec\xa7\x80","arvlCd":"99"}]}'

In [118]:
response.status_code

200

In [119]:
res = json.loads(response.text)
res

{'errorMessage': {'status': 200,
  'code': 'INFO-000',
  'message': '정상 처리되었습니다.',
  'link': '',
  'developerMessage': '',
  'total': 7},
 'realtimeArrivalList': [{'beginRow': None,
   'endRow': None,
   'curPage': None,
   'pageRow': None,
   'totalCount': 7,
   'rowNum': 1,
   'selectedCount': 7,
   'subwayId': '1001',
   'subwayNm': None,
   'updnLine': '상행',
   'trainLineNm': '광운대행 - 세류방면',
   'subwayHeading': None,
   'statnFid': '1001080158',
   'statnTid': '1001080156',
   'statnId': '1001080157',
   'statnNm': '병점',
   'trainCo': None,
   'ordkey': '01000광운대0',
   'subwayList': '1001',
   'statnList': '1001080157',
   'btrainSttus': None,
   'barvlDt': '0',
   'btrainNo': '0476',
   'bstatnId': '171',
   'bstatnNm': '광운대',
   'recptnDt': '2023-05-16 17:12:45',
   'arvlMsg2': '병점 도착',
   'arvlMsg3': '병점',
   'arvlCd': '1'},
  {'beginRow': None,
   'endRow': None,
   'curPage': None,
   'pageRow': None,
   'totalCount': 7,
   'rowNum': 2,
   'selectedCount': 7,
   'subwayId': '1001',
   'subwayNm': None,
   'updnLine': '상행',
   'trainLineNm': '청량리행 - 세류방면 (급행)',
   'subwayHeading': None,
   'statnFid': '1001080158',
   'statnTid': '1001080156',
   'statnId': '1001080157',
   'statnNm': '병점',
   'trainCo': None,
   'ordkey': '01008청량리1',
   'subwayList': '1001',
   'statnList': '1001080157',
   'btrainSttus': '급행',
   'barvlDt': '0',
   'btrainNo': '1940',
   'bstatnId': '249',
   'bstatnNm': '청량리 (급행)',
   'recptnDt': '2023-05-16 17:12:39',
   'arvlMsg2': '[8]번째 전역 (평택)',
   'arvlMsg3': '평택',
   'arvlCd': '99'},
  {'beginRow': None,
   'endRow': None,
   'curPage': None,
   'pageRow': None,
   'totalCount': 7,
   'rowNum': 3,
   'selectedCount': 7,
   'subwayId': '1001',
   'subwayNm': None,
   'updnLine': '상행',
   'trainLineNm': '광운대행 - 세류방면',
   'subwayHeading': None,
   'statnFid': '1001080158',
   'statnTid': '1001080156',
   'statnId': '1001080157',
   'statnNm': '병점',
   'trainCo': None,
   'ordkey': '02005광운대0',
   'subwayList': '1001',
   'statnList': '1001080157',
   'btrainSttus': None,
   'barvlDt': '0',
   'btrainNo': '0672',
   'bstatnId': '171',
   'bstatnNm': '광운대',
   'recptnDt': '2023-05-16 17:12:45',
   'arvlMsg2': '[5]번째 전역 (송탄)',
   'arvlMsg3': '송탄',
   'arvlCd': '99'},
  {'beginRow': None,
   'endRow': None,
   'curPage': None,
   'pageRow': None,
   'totalCount': 7,
   'rowNum': 4,
   'selectedCount': 7,
   'subwayId': '1001',
   'subwayNm': None,
   'updnLine': '하행',
   'trainLineNm': '서동탄행 - 세마방면',
   'subwayHeading': None,
   'statnFid': '1001080156',
   'statnTid': '1001080158',
   'statnId': '1001080157',
   'statnNm': '병점',
   'trainCo': None,
   'ordkey': '11001서동탄0',
   'subwayList': '1001',
   'statnList': '1001080157',
   'btrainSttus': None,
   'barvlDt': '0',
   'btrainNo': '0469',
   'bstatnId': '67',
   'bstatnNm': '서동탄',
   'recptnDt': '2023-05-16 17:13:32',
   'arvlMsg2': '전역 도착',
   'arvlMsg3': '세류',
   'arvlCd': '5'},
  {'beginRow': None,
   'endRow': None,
   'curPage': None,
   'pageRow': None,
   'totalCount': 7,
   'rowNum': 5,
   'selectedCount': 7,
   'subwayId': '1001',
   'subwayNm': None,
   'updnLine': '하행',
   'trainLineNm': '천안행 - 세마방면 (급행)',
   'subwayHeading': None,
   'statnFid': '1001080156',
   'statnTid': '1001080158',
   'statnId': '1001080157',
   'statnNm': '병점',
   'trainCo': None,
   'ordkey': '11002천안1',
   'subwayList': '1001',
   'statnList': '1001080157',
   'btrainSttus': '급행',
   'barvlDt': '0',
   'btrainNo': '1937',
   'bstatnId': '65',
   'bstatnNm': '천안 (급행)',
   'recptnDt': '2023-05-16 17:15:31',
   'arvlMsg2': '[2]번째 전역 (수원)',
   'arvlMsg3': '수원',
   'arvlCd': '99'},
  {'beginRow': None,
   'endRow': None,
   'curPage': None,
   'pageRow': None,
   'totalCount': 7,
   'rowNum': 6,
   'selectedCount': 7,
   'subwayId': '1001',
   'subwayNm': None,
   'updnLine': '하행',
   'trainLineNm': '천안행 - 세마방면',
   'subwayHeading': None,
   'statnFid': '1001080156',
   'statnTid': '1001080158',
   'statnId': '1001080157',
   'statnNm': '병점',
   'trainCo': None,
   'ordkey': '12004천안0',
   'subwayList': '1001',
   'statnList': '1001080157',
   'btrainSttus': None,
   'barvlDt': '0',
   'btrainNo': '0669',
   'bstatnId': '67',
   'bstatnNm': '천안',
   'recptnDt': '2023-05-16 17:13:32',
   'arvlMsg2': '[4]번째 전역 (성균관대)',
   'arvlMsg3': '성균관대',
   'arvlCd': '99'},
  {'beginRow': None,
   'endRow': None,
   'curPage': None,
   'pageRow': None,
   'totalCount': 7,
   'rowNum': 7,
   'selectedCount': 7,
   'subwayId': '1001',
   'subwayNm': None,
   'updnLine': '하행',
   'trainLineNm': '신창행 - 세마방면 (급행)',
   'subwayHeading': None,
   'statnFid': '1001080156',
   'statnTid': '1001080158',
   'statnId': '1001080157',
   'statnNm': '병점',
   'trainCo': None,
   'ordkey': '12015신창1',
   'subwayList': '1001',
   'statnList': '1001080157',
   'btrainSttus': '급행',
   'barvlDt': '0',
   'btrainNo': '1939',
   'bstatnId': '65',
   'bstatnNm': '신창 (급행)',
   'recptnDt': '2023-05-16 17:15:31',
   'arvlMsg2': '[15]번째 전역 (가산디지털단지)',
   'arvlMsg3': '가산디지털단지',
   'arvlCd': '99'}]}

In [120]:
res['realtimeArrivalList'][0]

{'beginRow': None,
 'endRow': None,
 'curPage': None,
 'pageRow': None,
 'totalCount': 7,
 'rowNum': 1,
 'selectedCount': 7,
 'subwayId': '1001',
 'subwayNm': None,
 'updnLine': '상행',
 'trainLineNm': '광운대행 - 세류방면',
 'subwayHeading': None,
 'statnFid': '1001080158',
 'statnTid': '1001080156',
 'statnId': '1001080157',
 'statnNm': '병점',
 'trainCo': None,
 'ordkey': '01000광운대0',
 'subwayList': '1001',
 'statnList': '1001080157',
 'btrainSttus': None,
 'barvlDt': '0',
 'btrainNo': '0476',
 'bstatnId': '171',
 'bstatnNm': '광운대',
 'recptnDt': '2023-05-16 17:12:45',
 'arvlMsg2': '병점 도착',
 'arvlMsg3': '병점',
 'arvlCd': '1'}

In [121]:
df = pd.DataFrame(res['realtimeArrivalList'])
df = df[['updnLine','trainLineNm','statnNm','btrainSttus','bstatnNm','arvlMsg2','arvlMsg3','barvlDt','arvlCd']]
df.btrainSttus.fillna('일반',inplace=True)

In [122]:
df

,updnLine,trainLineNm,statnNm,btrainSttus,bstatnNm,arvlMsg2,arvlMsg3,barvlDt,arvlCd
0,상행,광운대행 - 세류방면,병점,일반,광운대,병점 도착,병점,0,1
1,상행,청량리행 - 세류방면 (급행),병점,급행,청량리 (급행),[8]번째 전역 (평택),평택,0,99
2,상행,광운대행 - 세류방면,병점,일반,광운대,[5]번째 전역 (송탄),송탄,0,99
3,하행,서동탄행 - 세마방면,병점,일반,서동탄,전역 도착,세류,0,5
4,하행,천안행 - 세마방면 (급행),병점,급행,천안 (급행),[2]번째 전역 (수원),수원,0,99
5,하행,천안행 - 세마방면,병점,일반,천안,[4]번째 전역 (성균관대),성균관대,0,99
6,하행,신창행 - 세마방면 (급행),병점,급행,신창 (급행),[15]번째 전역 (가산디지털단지),가산디지털단지,0,99

In [123]:
df.isna().sum()

updnLine       0
trainLineNm    0
statnNm        0
btrainSttus    0
bstatnNm       0
arvlMsg2       0
arvlMsg3       0
barvlDt        0
arvlCd         0
dtype: int64

In [124]:
df1 = df[df.updnLine == '상행']
df1

,updnLine,trainLineNm,statnNm,btrainSttus,bstatnNm,arvlMsg2,arvlMsg3,barvlDt,arvlCd
0,상행,광운대행 - 세류방면,병점,일반,광운대,병점 도착,병점,0,1
1,상행,청량리행 - 세류방면 (급행),병점,급행,청량리 (급행),[8]번째 전역 (평택),평택,0,99
2,상행,광운대행 - 세류방면,병점,일반,광운대,[5]번째 전역 (송탄),송탄,0,99

In [125]:
df2 = df[df.updnLine == '하행']
df2

,updnLine,trainLineNm,statnNm,btrainSttus,bstatnNm,arvlMsg2,arvlMsg3,barvlDt,arvlCd
3,하행,서동탄행 - 세마방면,병점,일반,서동탄,전역 도착,세류,0,5
4,하행,천안행 - 세마방면 (급행),병점,급행,천안 (급행),[2]번째 전역 (수원),수원,0,99
5,하행,천안행 - 세마방면,병점,일반,천안,[4]번째 전역 (성균관대),성균관대,0,99
6,하행,신창행 - 세마방면 (급행),병점,급행,신창 (급행),[15]번째 전역 (가산디지털단지),가산디지털단지,0,99

In [126]:
temp = input()
temp = temp[:-1] if temp[-1] =='역' else temp
temp

'수원'

In [143]:
target = input('역명 입력')
target = target[:-1] if target[-1] == '역' else target

In [144]:
base_url = "http://swopenAPI.seoul.go.kr/api/subway/"
params1 = f"{info_key}/json/realtimeStationArrival/0/8/"
params2 = quote(target)
url = f"{base_url}{params1}{params2}"
response = requests.get(url)
print(response.content)

b'{"errorMessage":{"status":200,"code":"INFO-000","message":"\xec\xa0\x95\xec\x83\x81 \xec\xb2\x98\xeb\xa6\xac\xeb\x90\x98\xec\x97\x88\xec\x8a\xb5\xeb\x8b\x88\xeb\x8b\xa4.","link":"","developerMessage":"","total":7},"realtimeArrivalList":[{"beginRow":null,"endRow":null,"curPage":null,"pageRow":null,"totalCount":7,"rowNum":1,"selectedCount":7,"subwayId":"1001","subwayNm":null,"updnLine":"\xec\x83\x81\xed\x96\x89","trainLineNm":"\xea\xb4\x91\xec\x9a\xb4\xeb\x8c\x80\xed\x96\x89 - \xec\x84\xb8\xeb\xa5\x98\xeb\xb0\xa9\xeb\xa9\xb4","subwayHeading":null,"statnFid":"1001080158","statnTid":"1001080156","statnId":"1001080157","statnNm":"\xeb\xb3\x91\xec\xa0\x90","trainCo":null,"ordkey":"01000\xea\xb4\x91\xec\x9a\xb4\xeb\x8c\x800","subwayList":"1001","statnList":"1001080157","btrainSttus":null,"barvlDt":"0","btrainNo":"0476","bstatnId":"171","bstatnNm":"\xea\xb4\x91\xec\x9a\xb4\xeb\x8c\x80","recptnDt":"2023-05-16 17:12:45","arvlMsg2":"\xeb\xb3\x91\xec\xa0\x90 \xeb\x8f\x84\xec\xb0\xa9","arvlMsg3":"\xeb\xb3\x91\xec\xa0\x90","arvlCd":"1"},{"beginRow":null,"endRow":null,"curPage":null,"pageRow":null,"totalCount":7,"rowNum":2,"selectedCount":7,"subwayId":"1001","subwayNm":null,"updnLine":"\xec\x83\x81\xed\x96\x89","trainLineNm":"\xec\xb2\xad\xeb\x9f\x89\xeb\xa6\xac\xed\x96\x89 - \xec\x84\xb8\xeb\xa5\x98\xeb\xb0\xa9\xeb\xa9\xb4 (\xea\xb8\x89\xed\x96\x89)","subwayHeading":null,"statnFid":"1001080158","statnTid":"1001080156","statnId":"1001080157","statnNm":"\xeb\xb3\x91\xec\xa0\x90","trainCo":null,"ordkey":"01008\xec\xb2\xad\xeb\x9f\x89\xeb\xa6\xac1","subwayList":"1001","statnList":"1001080157","btrainSttus":"\xea\xb8\x89\xed\x96\x89","barvlDt":"0","btrainNo":"1940","bstatnId":"249","bstatnNm":"\xec\xb2\xad\xeb\x9f\x89\xeb\xa6\xac (\xea\xb8\x89\xed\x96\x89)","recptnDt":"2023-05-16 17:12:39","arvlMsg2":"[8]\xeb\xb2\x88\xec\xa7\xb8 \xec\xa0\x84\xec\x97\xad (\xed\x8f\x89\xed\x83\x9d)","arvlMsg3":"\xed\x8f\x89\xed\x83\x9d","arvlCd":"99"},{"beginRow":null,"endRow":null,"curPage":null,"pageRow":null,"totalCount":7,"rowNum":3,"selectedCount":7,"subwayId":"1001","subwayNm":null,"updnLine":"\xec\x83\x81\xed\x96\x89","trainLineNm":"\xea\xb4\x91\xec\x9a\xb4\xeb\x8c\x80\xed\x96\x89 - \xec\x84\xb8\xeb\xa5\x98\xeb\xb0\xa9\xeb\xa9\xb4","subwayHeading":null,"statnFid":"1001080158","statnTid":"1001080156","statnId":"1001080157","statnNm":"\xeb\xb3\x91\xec\xa0\x90","trainCo":null,"ordkey":"02005\xea\xb4\x91\xec\x9a\xb4\xeb\x8c\x800","subwayList":"1001","statnList":"1001080157","btrainSttus":null,"barvlDt":"0","btrainNo":"0672","bstatnId":"171","bstatnNm":"\xea\xb4\x91\xec\x9a\xb4\xeb\x8c\x80","recptnDt":"2023-05-16 17:12:45","arvlMsg2":"[5]\xeb\xb2\x88\xec\xa7\xb8 \xec\xa0\x84\xec\x97\xad (\xec\x86\xa1\xed\x83\x84)","arvlMsg3":"\xec\x86\xa1\xed\x83\x84","arvlCd":"99"},{"beginRow":null,"endRow":null,"curPage":null,"pageRow":null,"totalCount":7,"rowNum":4,"selectedCount":7,"subwayId":"1001","subwayNm":null,"updnLine":"\xed\x95\x98\xed\x96\x89","trainLineNm":"\xec\x84\x9c\xeb\x8f\x99\xed\x83\x84\xed\x96\x89 - \xec\x84\xb8\xeb\xa7\x88\xeb\xb0\xa9\xeb\xa9\xb4","subwayHeading":null,"statnFid":"1001080156","statnTid":"1001080158","statnId":"1001080157","statnNm":"\xeb\xb3\x91\xec\xa0\x90","trainCo":null,"ordkey":"11001\xec\x84\x9c\xeb\x8f\x99\xed\x83\x840","subwayList":"1001","statnList":"1001080157","btrainSttus":null,"barvlDt":"0","btrainNo":"0469","bstatnId":"67","bstatnNm":"\xec\x84\x9c\xeb\x8f\x99\xed\x83\x84","recptnDt":"2023-05-16 17:13:32","arvlMsg2":"\xec\xa0\x84\xec\x97\xad \xeb\x8f\x84\xec\xb0\xa9","arvlMsg3":"\xec\x84\xb8\xeb\xa5\x98","arvlCd":"5"},{"beginRow":null,"endRow":null,"curPage":null,"pageRow":null,"totalCount":7,"rowNum":5,"selectedCount":7,"subwayId":"1001","subwayNm":null,"updnLine":"\xed\x95\x98\xed\x96\x89","trainLineNm":"\xec\xb2\x9c\xec\x95\x88\xed\x96\x89 - \xec\x84\xb8\xeb\xa7\x88\xeb\xb0\xa9\xeb\xa9\xb4 (\xea\xb8\x89\xed\x96\x89)","subwayHeading":null,"statnFid":"1001080156","statnTid":"1001080158","statnId":"1001080157","statnNm":"\xeb\xb3\x91\xec\xa0\x90","trainCo":null,"ordkey":"11002\xec\xb2\x9c\xec\x95\x881","subwayList":"1001","statnList":"1001080157","btrainSttus":"\xea\xb8\x89\xed\x96\x89","barvlDt":"0","btrainNo":"1937","bstatnId":"65","bstatnNm":"\xec\xb2\x9c\xec\x95\x88 (\xea\xb8\x89\xed\x96\x89)","recptnDt":"2023-05-16 17:15:31","arvlMsg2":"[2]\xeb\xb2\x88\xec\xa7\xb8 \xec\xa0\x84\xec\x97\xad (\xec\x88\x98\xec\x9b\x90)","arvlMsg3":"\xec\x88\x98\xec\x9b\x90","arvlCd":"99"},{"beginRow":null,"endRow":null,"curPage":null,"pageRow":null,"totalCount":7,"rowNum":6,"selectedCount":7,"subwayId":"1001","subwayNm":null,"updnLine":"\xed\x95\x98\xed\x96\x89","trainLineNm":"\xec\xb2\x9c\xec\x95\x88\xed\x96\x89 - \xec\x84\xb8\xeb\xa7\x88\xeb\xb0\xa9\xeb\xa9\xb4","subwayHeading":null,"statnFid":"1001080156","statnTid":"1001080158","statnId":"1001080157","statnNm":"\xeb\xb3\x91\xec\xa0\x90","trainCo":null,"ordkey":"12004\xec\xb2\x9c\xec\x95\x880","subwayList":"1001","statnList":"1001080157","btrainSttus":null,"barvlDt":"0","btrainNo":"0669","bstatnId":"67","bstatnNm":"\xec\xb2\x9c\xec\x95\x88","recptnDt":"2023-05-16 17:13:32","arvlMsg2":"[4]\xeb\xb2\x88\xec\xa7\xb8 \xec\xa0\x84\xec\x97\xad (\xec\x84\xb1\xea\xb7\xa0\xea\xb4\x80\xeb\x8c\x80)","arvlMsg3":"\xec\x84\xb1\xea\xb7\xa0\xea\xb4\x80\xeb\x8c\x80","arvlCd":"99"},{"beginRow":null,"endRow":null,"curPage":null,"pageRow":null,"totalCount":7,"rowNum":7,"selectedCount":7,"subwayId":"1001","subwayNm":null,"updnLine":"\xed\x95\x98\xed\x96\x89","trainLineNm":"\xec\x8b\xa0\xec\xb0\xbd\xed\x96\x89 - \xec\x84\xb8\xeb\xa7\x88\xeb\xb0\xa9\xeb\xa9\xb4 (\xea\xb8\x89\xed\x96\x89)","subwayHeading":null,"statnFid":"1001080156","statnTid":"1001080158","statnId":"1001080157","statnNm":"\xeb\xb3\x91\xec\xa0\x90","trainCo":null,"ordkey":"12015\xec\x8b\xa0\xec\xb0\xbd1","subwayList":"1001","statnList":"1001080157","btrainSttus":"\xea\xb8\x89\xed\x96\x89","barvlDt":"0","btrainNo":"1939","bstatnId":"65","bstatnNm":"\xec\x8b\xa0\xec\xb0\xbd (\xea\xb8\x89\xed\x96\x89)","recptnDt":"2023-05-16 17:15:31","arvlMsg2":"[15]\xeb\xb2\x88\xec\xa7\xb8 \xec\xa0\x84\xec\x97\xad (\xea\xb0\x80\xec\x82\xb0\xeb\x94\x94\xec\xa7\x80\xed\x84\xb8\xeb\x8b\xa8\xec\xa7\x80)","arvlMsg3":"\xea\xb0\x80\xec\x82\xb0\xeb\x94\x94\xec\xa7\x80\xed\x84\xb8\xeb\x8b\xa8\xec\xa7\x80","arvlCd":"99"}]}'

In [145]:
df = pd.DataFrame(res['realtimeArrivalList'])
df = df[['updnLine','trainLineNm','statnNm','bstatnNm','arvlMsg2','arvlMsg3','barvlDt','arvlCd']]

In [146]:
df

,updnLine,trainLineNm,statnNm,bstatnNm,arvlMsg2,arvlMsg3,barvlDt,arvlCd
0,상행,광운대행 - 세류방면,병점,광운대,병점 도착,병점,0,1
1,상행,청량리행 - 세류방면 (급행),병점,청량리 (급행),[8]번째 전역 (평택),평택,0,99
2,상행,광운대행 - 세류방면,병점,광운대,[5]번째 전역 (송탄),송탄,0,99
3,하행,서동탄행 - 세마방면,병점,서동탄,전역 도착,세류,0,5
4,하행,천안행 - 세마방면 (급행),병점,천안 (급행),[2]번째 전역 (수원),수원,0,99
5,하행,천안행 - 세마방면,병점,천안,[4]번째 전역 (성균관대),성균관대,0,99
6,하행,신창행 - 세마방면 (급행),병점,신창 (급행),[15]번째 전역 (가산디지털단지),가산디지털단지,0,99

In [131]:
# 상행 하행 따로 보여줌
# folium marker로 지하철역 찝기(전,후 다른 마커)

In [147]:
# 처음에 한번 실행될 부분
df_st = pd.read_csv('data/St_addr_20221122.csv',encoding='euc-kr')
df_st = df_st[['역명','도로명주소']]
df_st.head()

        역명                      도로명주소
0       가능           경기도 의정부시 평화로 633
1  가산디지털단지          서울특별시 금천구 벚꽃로 309
2       간석       인천광역시 남동구 석정로 522-14
3       개봉        서울특별시 구로구 경인로40길 47
4       관악  경기도 안양시 만안구 경수대로1273번길 46

In [148]:
temp = df_st[df_st.역명 == target].도로명주소
temp

35    경기도 화성시 떡전골로 97
Name: 도로명주소, dtype: object

In [149]:
str_addr = df_st[df_st.역명 == target].도로명주소.values[-1]
str_addr.strip()

'경기도 화성시 떡전골로 97'

In [150]:
df1 = df[df.updnLine == '상행']
df1 = df1.reset_index(drop=True)
df1

,updnLine,trainLineNm,statnNm,bstatnNm,arvlMsg2,arvlMsg3,barvlDt,arvlCd
0,상행,광운대행 - 세류방면,병점,광운대,병점 도착,병점,0,1
1,상행,청량리행 - 세류방면 (급행),병점,청량리 (급행),[8]번째 전역 (평택),평택,0,99
2,상행,광운대행 - 세류방면,병점,광운대,[5]번째 전역 (송탄),송탄,0,99

In [151]:
df2 = df[df.updnLine == '하행']
df2 = df2.reset_index(drop=True)
df2

,updnLine,trainLineNm,statnNm,bstatnNm,arvlMsg2,arvlMsg3,barvlDt,arvlCd
0,하행,서동탄행 - 세마방면,병점,서동탄,전역 도착,세류,0,5
1,하행,천안행 - 세마방면 (급행),병점,천안 (급행),[2]번째 전역 (수원),수원,0,99
2,하행,천안행 - 세마방면,병점,천안,[4]번째 전역 (성균관대),성균관대,0,99
3,하행,신창행 - 세마방면 (급행),병점,신창 (급행),[15]번째 전역 (가산디지털단지),가산디지털단지,0,99

In [152]:
df1.arvlMsg3[1].strip()

'평택'

In [165]:
bstn_up_list = df1.arvlMsg3.values
bstn_up_list

array(['병점', '평택', '송탄'], dtype=object)

In [166]:
bstn_dn_list = df2.arvlMsg3.values
bstn_dn_list

array(['세류', '수원', '성균관대', '가산디지털단지'], dtype=object)

In [163]:
# 함수로 쓸때 return bst
# for i,bst in enumerate(bstn_up_list):
#     try:
#         bst = df1.arvlMsg3[i].strip()
#         print(bst)
#     except:
#         bst = None

병점
평택
송탄

In [162]:
# for i,bst in enumerate(bstn_dn_list):
#     try:
#         bst = df2.arvlMsg3[i].strip()
#         print(bst)
#     except:
#         bst = None

세류
수원
성균관대
가산디지털단지

In [168]:
# 함수로 만들어서 쓸땐 변수자리에 return
for i in df1.index:
    try:
        bst = df1.arvlMsg3[i].strip()
        msg = df1.arvlMsg2[i].strip()
        print(f'{bst}\t{msg}')
    except:
        bst = None

병점	병점 도착
평택	[8]번째 전역 (평택)
송탄	[5]번째 전역 (송탄)

In [169]:
for i in df2.index:
    try:
        bst = df2.arvlMsg3[i].strip()
        msg = df2.arvlMsg2[i].strip()
        print(f'{bst}\t{msg}')
    except:
        bst = None

세류	전역 도착
수원	[2]번째 전역 (수원)
성균관대	[4]번째 전역 (성균관대)
가산디지털단지	[15]번째 전역 (가산디지털단지)

In [142]:
# bst_up_addr_list = bstn_up_list
# for bst in bstn_up_list:
#     print(bst.values)
# str_addr = df_st[df_st.역명 == target].도로명주소.values[-1]
# str_addr.strip()