In [17]:
import requests, time, re
from urllib.parse import quote
import pandas as pd
from bs4 import BeautifulSoup

In [18]:
url= 'https://youtube-rank.com/board/bbs/board.php?bo_table=youtube&page=1'
header = {'User-Agent':'Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/112.0.0.0 Safari/537.36'}
result = requests.get(url, headers=header)
soup = BeautifulSoup(result.text,'html.parser')

In [19]:
lis = soup.select('form > table > tbody > tr')
len(lis)

100

In [20]:
lines = []
for i in range(1,11):
    url_base = 'https://youtube-rank.com/board/bbs/board.php?bo_table=youtube&page='
    res = requests.get(url_base+str(i))
    soup = BeautifulSoup(res.text)
    for li in lis:
        rank = int(li.select_one('.rank').get_text().strip())
        category = li.select_one('.category').get_text().strip()
        channel = li.select_one('form > table > tbody > tr > td > h1 >a').get_text().replace('\t\r\n','').strip()
        subscriber_cnt = int(li.select_one('.subscriber_cnt').get_text()[:-1])
        view_cnt = li.select_one('.view_cnt').get_text()
        view_cnt = int(re.sub('[ㄱ-ㅎㅏ-ㅣ가-힣]','', view_cnt))
        video_cnt = li.select_one('.video_cnt').get_text()
        video_cnt = int(re.sub('[ㄱ-ㅎㅏ-ㅣ가-힣,]','', video_cnt))
        lines.append({'순위':rank,'카테고리':category,'채널명':channel,'구독자수(만명)':subscriber_cnt,
                    '조회수(만회)':view_cnt,'비디오수':video_cnt})
df = pd.DataFrame(lines)
df.head()

   순위        카테고리                채널명  구독자수(만명)  조회수(만회)  비디오수
0   1  [음악/댄스/가수]          BLACKPINK      8800  3095913   514
1   2  [음악/댄스/가수]          BANGTANTV      7460  2027939  2195
2   3  [음악/댄스/가수]        HYBE LABELS      7060  2769031  1185
3   4  [음악/댄스/가수]             SMTOWN      3170  2692858  4121
4   5  [음악/댄스/가수]  JYP Entertainment      2690  1939523  1678

In [21]:
# 1. 구독자순 기준으로 Top 1000 을 크롤링하여 순위, 카테고리, 채널명, 구독자수, 조회수, 비디오수 필드를 데이터프레임으로 
#    만드세요

In [24]:
df1 = df.head(20).sort_values(by='구독자수(만명)',ascending=False).copy()
df1.head(15)

    순위         카테고리                          채널명  구독자수(만명)  조회수(만회)   비디오수
0    1   [음악/댄스/가수]                    BLACKPINK      8800  3095913    514
1    2   [음악/댄스/가수]                    BANGTANTV      7460  2027939   2195
2    3   [음악/댄스/가수]                  HYBE LABELS      7060  2769031   1185
3    4   [음악/댄스/가수]                       SMTOWN      3170  2692858   4121
4    5   [음악/댄스/가수]            JYP Entertainment      2690  1939523   1678
5    6     [키즈/어린이]  Boram Tube Vlog [보람튜브 브이로그]      2650  1105288    223
6    7   [음악/댄스/가수]        1MILLION Dance Studio      2600   779986   5385
7    8   [음악/댄스/가수]                 1theK (원더케이)      2450  2370476  18177
8    9        [미분류]                  Alan Becker      2200   510309    152
9   10   [음악/댄스/가수]                   Mnet K-POP      2050  1473307  32240
10  11      [TV/방송]                 KBS WORLD TV      1890  1490974  63147
11  12   [음악/댄스/가수]                  officialpsy      1800  1056043    127
12  14  [음식/요리/레시피]                 Jane ASMR 제인      1760   726156   2116
13  13   [음악/댄스/가수]                    JFlaMusic      1760   378631    317
14  15   [음악/댄스/가수]                        TWICE      1580   486022   1092

In [ ]:
temp = []
for 
    df1

In [32]:
aa = df1.values
aa[0][1]

'[음악/댄스/가수]'

In [25]:
df2 = df.pivot_table('채널명', '카테고리', aggfunc='count').sort_values('채널명', ascending=False).head(10).copy()
df2.head(20)

             채널명
카테고리
[음악/댄스/가수]   380
[키즈/어린이]     230
[TV/방송]      110
[음식/요리/레시피]  110
[미분류]         70
[뉴스/정치/사회]    30
[BJ/인물/연예인]   20
[회사/오피셜]      20
[애완/반려동물]     10
[패션/미용]       10

In [39]:
ds = str(df2.values)
dd = df2.index
dd

Index(['[음악/댄스/가수]', '[키즈/어린이]', '[TV/방송]', '[음식/요리/레시피]', '[미분류]',
       '[뉴스/정치/사회]', '[BJ/인물/연예인]', '[회사/오피셜]', '[애완/반려동물]', '[패션/미용]'],
      dtype='object', name='카테고리')

In [38]:
ds

'[[380]\n [230]\n [110]\n [110]\n [ 70]\n [ 30]\n [ 20]\n [ 20]\n [ 10]\n [ 10]]'